<template>
  <v-container class="grey lighten-5">
    <v-row no-gutters>
      <v-col cols="12">
        <v-data-table :headers="headers" :items="pets" :search="search" sort-by="calories" class="elevation-1">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>
                Mascotas
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
              </v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                    Crear Mascota
                  </v-btn>
                </template>
                <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text datakey>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.name" :counter="20" :rules="nameRules" label="Nombre" type="text"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.race" :counter="30" :rules="raceRules" label="Raza" type="text"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.species" :counter="25" :rules="speciesRules" label="Especie" type="text"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.age" :counter="3" :rules="ageRules" label="Edad" type="number"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.genere" :counter="10" :rules="genereRules" label="Genero" type="text"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" text @click="close();">
                      Cancelar
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="save(); validate();">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
                </v-form>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="headline">¿Estás seguro de que quieres eliminar este artículo?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                    <v-btn color="red darken-1" text @click="deleteItemConfirm">Eliminar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
  import PetService from "@/services/PetService";
  import nav from "../Components/nav.vue";

  export default {
    name: "PetLists",

    components: {
      nav
    },


    data: () => ({

      valid: true,
      nameRules: [
        v => !!v || 'Se requiere un nombre',
        v => (v && v.length <= 20) || 'El nombre debe tener menos de 20 caracteres',
      ],
      raceRules: [
        v => !!v || 'Se requiere una raza',
        v => (v && v.length <= 30) || 'La raza debe tener menos de 30 caracteres',
      ],
      speciesRules: [
        v => !!v || 'Se requiere una especie',
        v => (v && v.length <= 25) || 'El numero celular debe tener menos de 25 caracteres',
      ],
      ageRules: [
        v => !!v || 'Se requiere una edad',
        v => (v && v.length <= 3) || 'La edad debe tener menos de 3 digitos',
      ],
      genereRules: [
        v => !!v || 'Se requiere un genero',
        v => (v && v.length <= 10) || 'La direccion debe tener menos de 10 caracteres',
      ],

      dialog: false,
      dialogDelete: false,
      search: '',
      headers: [{
          text: 'id',
          align: 'start',
          value: 'id',
        },
        {
          text: 'Nombre',
          value: 'name'
        },
        {
          text: 'Raza',
          value: 'race'
        },
        {
          text: 'Especie',
          value: 'species'
        },
        {
          text: 'Edad',
          value: 'age'
        },
        {
          text: 'Genero',
          value: 'genere'
        },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false
        },
      ],
      pets: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        race: '',
        species: '',
        age: null,
        genere: ''
      },
      defaultItem: {
        name: '',
        race: '',
        species: '',
        age: null,
        genere: ''
      },
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Crear Mascota' : 'Editar Mascota'
      },
    },

    watch: {
      dialog(val) {
        val || this.close()
      },
      dialogDelete(val) {
        val || this.closeDelete()
      },
    },


    mounted() {
      this.initialize()
    },

    methods: {
      initialize() {
        this.getAllPet()
      },
      async getAllPet() {
        PetService.findPetAll()
          .then(response => this.pets = response.data.value)
      },

      save() {
        if (this.editedIndex > -1) {
          // Editar
          PetService.editPet(this.editedItem)
            .then(response => {
              console.log(response)
              if (response.data.code === 200) {
                this.close();
                alert(response.data.message);
                this.getAllPet();
              }
            }).catch(error => {
              this.close();
              console.error(error)
            })
        } else {
          // Crear
          PetService.createPet(this.editedItem)
            .then(response => {
              if (response.data.code === 200) {
                this.close();
                alert(response.data.message);
                this.getAllPet();
              }
            }).catch(error => {
              console.error(error)
            })
        }
      },

      editItem(item) {
        this.editedIndex = this.pets.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem(item) {
        this.editedIndex = this.pets.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm() {
        console.log(this.editedItem.id);
        PetService.deletePet(this.editedItem.id).then(response => {
          if (response.data.code === 200) {
            this.closeDelete();
            alert(response.data.message);
            this.getAllPet();
          }
        }).catch(error => {
          this.closeDelete();
          console.error(error);
        })
      },

      close() {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete() {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      validate () {
        this.$refs.form.validate()
      }
    }

  }
</script>