<template>
  <v-container class="grey lighten-5">
    <v-row no-gutters>
      <v-col cols="12">
        <v-data-table :headers="headers" :items="users" :search="search" sort-by="calories" class="elevation-1">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>
                Usuarios
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
              </v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                    Crear usuario
                  </v-btn>
                </template>
                <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text datakey>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.name" :counter="10" :rules="nameRules" label="Nombre" type="text" ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.email" :counter="50" :rules="emailRules" label="Email" type="email"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.cellphone" :counter="20" :rules="cellRules" label="Celular" type="number"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.age" :counter="3" :rules="ageRules" label="Edad" type="number"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.direction" :counter="50" :rules="locationRules" label="Direccion" type="text"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" text @click="close();">
                      Cancelar
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="save(); validate();" :disabled="!valid">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
                </v-form> 
              </v-dialog> 
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card> 
                  <v-card-title class="headline">¿Estás seguro de que quieres eliminar este artículo?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                    <v-btn color="red darken-1" text @click="deleteItemConfirm">Eliminar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
  import UserService from "@/services/UserService";
  import nav from "../Components/nav.vue";

  export default {
    name: "UserLists",

    components: {
      nav
    },


    data: () => ({

      valid: true,
      nameRules: [
        v => !!v || 'Se requiere un nombre',
        v => (v && v.length <= 10) || 'El nombre debe tener menos de 10 caracteres',
      ],
      emailRules: [
        v => !!v || 'Se requiere un email',
        v => (v && v.length <= 50) || 'El email debe tener menos de 50 caracteres',
      ],
      cellRules: [
        v => !!v || 'Se requiere un numero de celular',
        v => (v && v.length <= 20) || 'El numero celular debe tener menos de 20 caracteres',
      ],
      ageRules: [
        v => !!v || 'Se requiere una edad',
        v => (v && v.length <= 3) || 'La edad debe tener menos de 3 digitos',
      ],
      locationRules: [
        v => !!v || 'Se requiere una direccion',
        v => (v && v.length <= 50) || 'La direccion debe tener menos de 50 caracteres',
      ],

      dialog: false,
      dialogDelete: false,
      search: '',
      headers: [{
          text: 'id',
          align: 'start',
          value: 'id',
        },
        {
          text: 'Nombre',
          value: 'name'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Celular',
          value: 'cellphone'
        },
        {
          text: 'Edad',
          value: 'age'
        },
        {
          text: 'Direccion',
          value: 'direction'
        },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false
        },
      ],
      users: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        email: '',
        cellphone: null,
        age: null,
        direction: ''
      },
      defaultItem: {
        name: '',
        email: '',
        cellphone: null,
        age: null,
        direction: ''
      },
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Crear Usuario' : 'Editar Usuario'
      },
    },

    watch: {
      dialog(val) {
        val || this.close()
      },
      dialogDelete(val) {
        val || this.closeDelete()
      },
    },


    mounted() {
      this.initialize()
    },

    methods: {
      initialize() {
        this.getAllUser()
      },
      async getAllUser() {
        UserService.findUserAll()
          .then(response => this.users = response.data.value)
      },

      save() {
        if (this.editedIndex > -1) {
          // Editar
          UserService.editUser(this.editedItem)
            .then(response => {
              console.log(response)
              if (response.data.code === 200) {
                this.close();
                alert(response.data.message);
                this.getAllUser();
              }
            }).catch(error => {
              this.close();
              console.error(error)
            })
        } else {
          // Crear
          UserService.createUser(this.editedItem)
            .then(response => {
              console.log(response)
              if (response.data.code === 200) {
                this.close();
                alert(response.data.message);
                this.getAllUser();
              }
            }).catch(error => {
              console.error(error)
            })
        }
      },

      editItem(item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem(item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm() {
        console.log(this.editedItem.id);
        UserService.deleteUser(this.editedItem.id).then(response => {
          if (response.data.code === 200) {
            this.closeDelete();
            alert(response.data.message);
            this.getAllUser();
          }
        }).catch(error => {
          this.closeDelete();
          console.error(error);
        })
      },

      close() {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete() {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      validate () {
        this.$refs.form.validate()
      }
    }

  }
</script>

