<template>
  <v-app class="float-sm">

    <v-toolbar-app>
      <v-app-bar color="deep-purple" dark>
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

        <v-toolbar-title>Veterinaria</v-toolbar-title>

      </v-app-bar>

      <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list nav dense>
          <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
            <v-list-item router-link to="/">
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Usuarios</v-list-item-title>
            </v-list-item>

            <v-list-item router-link to="/PetLists">
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Mascotas</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-toolbar-app>

    <router-view></router-view>
  </v-app>
</template>

<script>
  import UserLists from './views/UserLists';
  import PetLists from './views/PetLists';

  export default {
    name: 'App',
    data: () => ({
      drawer: false,
      group: null,
    }),
    components: {
      UserLists,
      PetLists
    }
  };
</script>